# SETUP

In [247]:
import numpy as np
import pandas as pd
import re

In [248]:
file = '/Users/quartz/data/collabo_2nd/dataset.csv'

data_raw = pd.read_csv(file, error_bad_lines=False)
print(data_raw.shape, "\n")
data_raw.tail()

(1499, 35)

,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
1494,22/2/2002sugar,beef,sandwich bags,hand soap,paper towels,paper towels,all- purpose,beef,fruits,coffee/tea,...,cereals,juice,poultry,sugar,soap,,NaN,NaN,NaN,NaN
1495,23/2/2002coffee/tea,dinner rolls,lunch meat,spaghetti sauce,pasta,vegetables,cereals,dinner rolls,soap,milk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1496,24/2/2002beef,lunch meat,eggs,poultry,vegetables,tortillas,beef,beef,individual meals,dishwashing liquid/detergent,...,pork,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1497,25/2/2002sandwich bags,ketchup,milk,poultry,cheeses,soap,toilet paper,yogurt,beef,waffles,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1498,26/2/2002soda,laundry detergent,vegetables,shampoo,vegetables,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Preprocessing
- - -

### regex

In [249]:
# test

mess = data_raw['Unnamed: 0'].values
string = re.findall('[a-zA-Z]', mess[0])
string = ''.join(string)
string

'yogurt'

In [250]:
date = re.findall('\d\W\d\W\d\d\d\d', mess[0])
string = re.findall('[a-zA-Z]', mess[0])
string = ''.join(string)

date[0], string

('1/1/2000', 'yogurt')

### functionalize, adapting to whole features

In [251]:
# functionalize

def make_date(word):
    date = re.findall('\d\W\d\W\d\d\d\d', word)
    date = ''.join(date)
    return date
    
def make_string(word):
    string = re.findall('[a-zA-Z]', word)
    string = ''.join(string)
    return string

data_raw['date'] = data_raw['Unnamed: 0'].apply(lambda x : make_date(x))
data_raw['main'] = data_raw['Unnamed: 0'].apply(lambda x : make_string(x))

In [256]:
# change index(number) to date
data_raw.index = data_raw.date

# delete 'Unnamed: 0', 'date'
data_revise = data_raw.drop(['Unnamed: 0', 'date'], axis=1)

# fill Nan Value as 'nan'
data_revise.fillna('nan', inplace=True)

# erase 'blank in component'
def delete_blank(word):
    return re.sub(r'\s', '', word)

columns = data_revise.columns

for column in columns:
    data_revise[column] = data_revise[column].apply(lambda x : delete_blank(x))
    
np.unique(data_revise.values), len(np.unique(data_revise.values))

(array(['', 'all-purpose', 'allpurpose', 'aluminumfoil', 'bagels', 'beef',
        'butter', 'cereals', 'cheeses', 'coffee/tea', 'coffeetea',
        'dinnerrolls', 'dishwashingliquid/detergent',
        'dishwashingliquiddetergent', 'eggs', 'flour', 'fruits',
        'handsoap', 'icecream', 'individualmeals', 'juice', 'ketchup',
        'laundrydetergent', 'lunchmeat', 'milk', 'mixes', 'nan',
        'papertowels', 'pasta', 'pork', 'poultry', 'sandwichbags',
        'sandwichloaves', 'shampoo', 'soap', 'soda', 'spaghettisauce',
        'sugar', 'toiletpaper', 'tortillas', 'vegetables', 'waffles',
        'yogurt'], dtype=object), 43)

### save revised dataset

In [ ]:
# pd.to_pickle(data_revise, 'dataset_v2.pkl')
# data_revise.to_csv('dataset_v2.csv')

In [257]:
for column in columns:
    data_revise[column] = data_revise[column].apply(lambda x : np.nan if x == 'nan' else x)
    data_revise[column] = data_revise[column].apply(lambda x : np.nan if x == '' else x)
# data_revise.to_pickle('dataset_v3.pkl')

In [259]:
for column in columns:
    data_revise[column] = data_revise[column].apply(lambda x : 'all-purpose' if x == 'allpurpose' else x)
    data_revise[column] = data_revise[column].apply(lambda x : 'coffee/tea' if x == 'coffeetea' else x)
    data_revise[column] = data_revise[column].apply(lambda x : 'dishwashingliquid/detergent' if x == 'dishwashingliquiddetergent' else x)
# data_revise.to_pickle('dataset_v4.pkl')
# np.unique(data_revise.values)

In [260]:
data_revise.tail()

,1,2,3,4,5,6,7,8,9,10,...,26,27,28,29,30,31,32,33,34,main
date,,,,,,,,,,,,,,,,,,,,,
2/2/2002,beef,sandwichbags,handsoap,papertowels,papertowels,all-purpose,beef,fruits,coffee/tea,beef,...,juice,poultry,sugar,soap,NaN,NaN,NaN,NaN,NaN,sugar
3/2/2002,dinnerrolls,lunchmeat,spaghettisauce,pasta,vegetables,cereals,dinnerrolls,soap,milk,eggs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,coffee/tea
4/2/2002,lunchmeat,eggs,poultry,vegetables,tortillas,beef,beef,individualmeals,dishwashingliquid/detergent,shampoo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,beef
5/2/2002,ketchup,milk,poultry,cheeses,soap,toiletpaper,yogurt,beef,waffles,sugar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sandwichbags
6/2/2002,laundrydetergent,vegetables,shampoo,vegetables,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,soda

In [261]:
# change columns(number), rows(number)

index = np.arange(0, 1499)
columns = np.arange(1, 36)
data_revise.index = index
data_revise.columns = columns
# data_revise.to_pickle('dataset_v5.pkl')
data_revise.tail()

,1,2,3,4,5,6,7,8,9,10,...,26,27,28,29,30,31,32,33,34,35
1494,beef,sandwichbags,handsoap,papertowels,papertowels,all-purpose,beef,fruits,coffee/tea,beef,...,juice,poultry,sugar,soap,NaN,NaN,NaN,NaN,NaN,sugar
1495,dinnerrolls,lunchmeat,spaghettisauce,pasta,vegetables,cereals,dinnerrolls,soap,milk,eggs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,coffee/tea
1496,lunchmeat,eggs,poultry,vegetables,tortillas,beef,beef,individualmeals,dishwashingliquid/detergent,shampoo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,beef
1497,ketchup,milk,poultry,cheeses,soap,toiletpaper,yogurt,beef,waffles,sugar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sandwichbags
1498,laundrydetergent,vegetables,shampoo,vegetables,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,soda

### CountVectorizer

- 각 feature를 합하여 corpus로 만든 후(total),
- CountVectorizer를 이용하여 sparse matrix를 만든다.

In [ ]:
# make total feature(text) to CountVectorize

num = list(data_revise.columns)
data_revise['total'] = ""

for i in num:
    data_revise['total'] += data_revise[i] + " "
data_revise['total'].tail()

In [184]:
# CountVectorize

from sklearn.feature_extraction.text import CountVectorizer

print(data_unique, len(data_unique), "\n")
count_vect = CountVectorizer(vocabulary=data_unique)

data_sparse = count_vect.fit_transform(corpus)
data_sparse

['' 'all-purpose' 'aluminumfoil' 'bagels' 'beef' 'butter' 'cereals'
 'cheeses' 'coffee/tea' 'dinnerrolls' 'dishwashingliquid/detergent' 'eggs'
 'flour' 'fruits' 'handsoap' 'icecream' 'individualmeals' 'juice'
 'ketchup' 'laundrydetergent' 'lunchmeat' 'milk' 'mixes' 'papertowels'
 'pasta' 'pork' 'poultry' 'sandwichbags' 'sandwichloaves' 'shampoo' 'soap'
 'soda' 'spaghettisauce' 'sugar' 'toiletpaper' 'tortillas' 'vegetables'
 'waffles' 'yogurt'] 39

<1499x39 sparse matrix of type '<class 'numpy.int64'>'
	with 20143 stored elements in Compressed Sparse Row format>

In [ ]:
# count_vect.get_feature_names()
# count_vect.vocabulary_

In [130]:
data_revise.iloc[:1, :-1].values # all-purpose,

array([['pork', 'sandwichbags', 'lunchmeat', 'all-purpose', 'flour',
        'soda', 'butter', 'vegetables', 'beef', 'aluminumfoil',
        'all-purpose', 'dinnerrolls', 'shampoo', 'all-purpose', 'mixes',
        'soap', 'laundrydetergent', 'icecream', 'dinnerrolls', '', '',
        '', '', '', '', '', '', '', '', '', '', '', '', '', 'yogurt']],
      dtype=object)

In [144]:
data_array = data_sparse.toarray()
columns_new = list(count_vect.vocabulary_)

data_matrix = pd.DataFrame(data=data_array, columns=columns_new)
data_matrix.tail()

,,all-purpose,aluminumfoil,bagels,beef,butter,cereals,cheeses,coffee/tea,dinnerrolls,...,shampoo,soap,soda,spaghettisauce,sugar,toiletpaper,tortillas,vegetables,waffles,yogurt
1494,0,0,0,0,4,0,1,1,0,1,...,1,1,0,0,3,0,0,0,0,0
1495,0,0,0,0,0,0,2,1,0,4,...,0,1,0,1,0,0,0,1,0,0
1496,0,0,0,1,4,0,0,0,0,1,...,1,1,0,0,1,0,1,3,0,1
1497,0,0,0,0,1,0,0,1,0,0,...,0,1,3,1,1,2,0,1,1,1
1498,0,0,0,0,0,0,0,0,0,0,...,1,0,2,0,0,0,0,2,0,0

### 소결론

- CountVectorizer 로 total(text) feature를 분류하여, sparse matrix로 만들었으나,
- 실제 데이터셋(data_revise)의 component 빈도수와 차이를 보인다. 실제 빈도를 제대로 잡지 못하는 상황

In [278]:
data_revise.to_pickle('dataset_v6(nan).pkl')

# Modeling
- - -

In [279]:
from efficient_apriori import apriori as apriori
from apyori import apriori as apriori_pre
import pandas as pd

data_revise = pd.read_pickle('dataset_v6(nan).pkl')
data_revise.shape, data_revise.values[0][0]

((1499, 36), 'pork')

In [281]:
# recodes (LIL: list of lists 만들기). DataFrame을 apriori 패키지를 활용하여, 연관분석을 하기 위해서는 LIL로 바꿔줘야 한다.
records = []  
for i in range(0, 1499):  
    records.append(tuple([str(data_revise.values[i,j]) for j in range(0, 35)]))

# 학습 : min_support 는 0.1, min_confidence 도 0.1 로 . 
itemsets, rules = apriori(records, min_support=0.1, min_confidence=0.1)
rules_rhs = filter(lambda rule: len(rule.lhs) == 1 and len(rule.rhs) == 1, rules)

result = sorted(rules_rhs, key=lambda rule: rule.lift, reverse=True) # rule.lift - 향상도 - 기준 내림차순 정렬한다.
for i, rule in enumerate(result, start=1):
    print(rule)
    if i == 11: # 상위 10개만 볼 수 있도록.
        break

{yogurt} -> {juice} (conf: 0.453, supp: 0.171, lift: 1.224, conv: 1.152)
{juice} -> {yogurt} (conf: 0.463, supp: 0.171, lift: 1.224, conv: 1.158)
{sandwichbags} -> {cheeses} (conf: 0.472, supp: 0.170, lift: 1.220, conv: 1.162)
{cheeses} -> {sandwichbags} (conf: 0.440, supp: 0.170, lift: 1.220, conv: 1.142)
{shampoo} -> {juice} (conf: 0.451, supp: 0.161, lift: 1.217, conv: 1.146)
{juice} -> {shampoo} (conf: 0.436, supp: 0.161, lift: 1.217, conv: 1.138)
{shampoo} -> {dinnerrolls} (conf: 0.460, supp: 0.165, lift: 1.216, conv: 1.151)
{dinnerrolls} -> {shampoo} (conf: 0.436, supp: 0.165, lift: 1.216, conv: 1.137)
{pasta} -> {papertowels} (conf: 0.442, supp: 0.167, lift: 1.210, conv: 1.138)
{papertowels} -> {pasta} (conf: 0.456, supp: 0.167, lift: 1.210, conv: 1.146)
{toiletpaper} -> {juice} (conf: 0.446, supp: 0.167, lift: 1.204, conv: 1.136)

### 결론

1. Two To One

    1. 치즈, 채소를 산 사람은 샌드위치백을 산다
    2. 소다, 채소를 산 사람은 계란을 산다
    3. mixes, 채소를 산 사람은 알류미늄 호일을 산다
    4. 쥬스, 채소를 산 사람은 요거트를 산다
    5. 샴푸, 채소를 산 사람은 샌드위치loaves를 산다.


```
{cheeses, vegetables} -> {sandwichbags} (conf: 0.477, supp: 0.145, lift: 1.324, conv:1.223)
{sandwichbags, vegetables} -> {cheeses} (conf: 0.508, supp: 0.145, lift: 1.313, conv: 1.247)
{soda, vegetables} -> {eggs} (conf: 0.499, supp: 0.149, lift: 1.307, conv: 1.234)
{mixes, vegetables} -> {aluminumfoil} (conf: 0.501, supp: 0.144, lift: 1.297, conv: 1.230)
{juice, vegetables} -> {yogurt} (conf: 0.491, supp: 0.141, lift: 1.297, conv: 1.221)
{shampoo, vegetables} -> {sandwichloaves} (conf: 0.460, supp: 0.127, lift: 1.290, conv: 1.191)
{dinnerrolls, vegetables} -> {eggs} (conf: 0.490, supp: 0.144, lift: 1.284, conv: 1.212)
{pasta, vegetables} -> {eggs} (conf: 0.487, supp: 0.140, lift: 1.277, conv: 1.206)
{shampoo, vegetables} -> {juice} (conf: 0.472, supp: 0.131, lift: 1.276, conv: 1.193)
{flour, vegetables} -> {yogurt} (conf: 0.480, supp: 0.130, lift: 1.270, conv: 1.196)
{pasta, vegetables} -> {papertowels} (conf: 0.464, supp: 0.133, lift: 1.269, conv: 1.184)
```

2. One To One

    1. 요거트를 산 사람은 쥬스를 산다.
    2. 샌드위치를 산 사람은 치즈를 산다.
    3. 샴푸를 산 사람은 쥬스를 산다.
    4. 샴푸를 산 사람은 디너롤스를 산다.
    5. 파스타를 산 사람은 페이퍼타워를 산다.

```
{yogurt} -> {juice} (conf: 0.453, supp: 0.171, lift: 1.224, conv: 1.152)
{juice} -> {yogurt} (conf: 0.463, supp: 0.171, lift: 1.224, conv: 1.158)
{sandwichbags} -> {cheeses} (conf: 0.472, supp: 0.170, lift: 1.220, conv: 1.162)
{cheeses} -> {sandwichbags} (conf: 0.440, supp: 0.170, lift: 1.220, conv: 1.142)
{shampoo} -> {juice} (conf: 0.451, supp: 0.161, lift: 1.217, conv: 1.146)
{juice} -> {shampoo} (conf: 0.436, supp: 0.161, lift: 1.217, conv: 1.138)
{shampoo} -> {dinnerrolls} (conf: 0.460, supp: 0.165, lift: 1.216, conv: 1.151)
{dinnerrolls} -> {shampoo} (conf: 0.436, supp: 0.165, lift: 1.216, conv: 1.137)
{pasta} -> {papertowels} (conf: 0.442, supp: 0.167, lift: 1.210, conv: 1.138)
{papertowels} -> {pasta} (conf: 0.456, supp: 0.167, lift: 1.210, conv: 1.146)
{toiletpaper} -> {juice} (conf: 0.446, supp: 0.167, lift: 1.204, conv: 1.136)
```